.lookingglass {
  position: absolute;
  background: url(../layers/transparent.png);
  width: 4000px;
  height: 4000px;
  background-size: contain;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#05003D), color-stop(43.83%, #090F5C), color-stop(79.55%, #0C1672));
  background: linear-gradient(180deg, #05003D 0%, #090F5C 43.83%, #0C1672 79.55%);
}

.scene-above .lookingglass, .scene-below .lookingglass {
  display: none;
}

.pink-text {
  color: #ff7bf9;
}

.blue-text {
  color: #00d7d7;
}

.orange-text {
  color: #ff8a00;
}

.scene-heading {
  color: white;
  position: absolute;
  display: none;
}

.scene-container {
  position: fixed;
  width: 1920px;
  height: 1080px;
  -webkit-transform: translateX(-50%) scale(1.5);
          transform: translateX(-50%) scale(1.5);
  left: 50%;
  -webkit-transform-origin: top;
          transform-origin: top;
}

@media (min-width: 1000px) {
  .scene-container {
    -webkit-transform: translateX(-50%) scale(0.5);
            transform: translateX(-50%) scale(0.5);
  }
}

@media (min-width: 1400px) {
  .scene-container {
    -webkit-transform: translateX(-50%) scale(0.7);
            transform: translateX(-50%) scale(0.7);
  }
}

@media (min-width: 1920px) {
  .scene-container {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}

.stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (orientation: landscape) {
  .stat-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1400px;
  }
  .stat-container div {
    width: 50%;
  }
}

.stat-container div {
  width: 100%;
}

.stat-container .copy {
  position: relative;
}

.center-element {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.scene {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 375px;
  height: 667px;
}

@media (orientation: landscape) {
  .scene {
    width: 1920px;
    height: 1080px;
  }
}

.scene div {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.scene-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scene-below {
  top: 160%;
}

.scene-above {
  top: -100%;
}

.copy {
  background-color: rgba(8, 5, 62, 0.95);
  position: absolute;
  color: white;
  padding: 25px 23px 50px 30px;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (orientation: landscape) {
  .copy {
    width: 627px;
    padding: 100px 91px 100px 73px;
  }
}

.copy h2 {
  font-size: 17px;
  font-weight: 700;
}

@media (orientation: landscape) {
  .copy h2 {
    font-size: 32px;
  }
}

.copy p, .copy li {
  font-size: 15px;
  font-weight: 400;
}

@media (orientation: landscape) {
  .copy p, .copy li {
    font-size: 22px;
  }
}

.copy ul {
  -webkit-padding-start: 1em;
          padding-inline-start: 1em;
}
/*# sourceMappingURL=scalecanvas.css.map */