// @import 'scene-home.scss';
// @import 'scenes.scss';
// @import 'elements.scss';

.lookingglass{
  position: absolute;
  background:url(../layers/transparent.png);
  width:4000px;
  height: 4000px;
  background-size: contain;
  opacity: 0;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

body{
  background: linear-gradient(180deg, #05003D 0%, #090F5C 43.83%, #0C1672 79.55%);
}

.scene-above, .scene-below{
  .lookingglass{
    display: none;
  }
}

.pink-text{
  color: #ff7bf9;
}
.blue-text{
  color:#00d7d7;
}
.orange-text{
  color:#ff8a00;
}
.scene-heading{
  color:white;
  position: absolute;
  display: none;
}







  .scene-container {
    position: fixed;
    width: 1920px;
    height: 1080px;
    transform: translateX(-50%) scale(1.5);
    left: 50%; 
    transform-origin: top;
  
    @media (min-width: 600px) {
      //transform: translateX(-50%) scale(0.3);
    }
  
    @media (min-width: 800px) {
      //transform: translateX(-50%) scale(0.4);
    }
  
    @media (min-width: 1000px) {
      transform: translateX(-50%) scale(0.5);
    }
  
    @media (min-width: 1400px) {
      transform: translateX(-50%) scale(0.7);
    }
  
    @media (min-width: 1920px) {
      transform: translateX(-50%) scale(1);
    }
  }
  



 

  
  

.stat-container{
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (orientation:landscape){
    flex-direction: row;
    width:1400px;
    div{
      width:50%;
    }
  }
  div{
    width:100%;
  }

  .copy{
    position: relative;
  }

}

  


  

  .center-element{
    position:absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top:50%;
  }

  

  
  

  .scene{
    position: fixed;
    top:50%;
    transform:translate(0, -50%);
    transition: all 0.5s;
    display: flex;
    flex-wrap: wrap;
    width:375px;
    height: 667px;
    @media (orientation:landscape){
      width:1920px;
      height: 1080px;
    }
    
    div{
      transition: all 0.5s;
    }
  }
  
  .scene-content{
    position: absolute;
    width:100%;
    height: 100%;
  }

  .scene-below{
    top:160%;
  }

  .scene-above{
    top:-100%;
  }
  
  
  
  .copy{
    background-color: rgba(8, 5, 62, 0.95);
    position: absolute;
    color:white;
    padding:25px 23px 50px 30px;
    font-family: sans-serif;
    box-sizing: border-box;
    @media(orientation:landscape){
      width:627px;
      padding:100px 91px 100px 73px;
    }
    
    h2{
      font-size: 17px;
      font-weight: 700;
      @media(orientation:landscape){
        font-size: 32px;
      }
    }
    p, li{
      font-size: 15px;
      font-weight: 400;
      @media(orientation:landscape){
        font-size: 22px;
      }
    }

    ul{
      padding-inline-start: 1em;
    }
  }