.scene-1 .neonsign {
  width: 375px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/gviz/layers/neonsign.svg);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

@media all and (min-width: 800px) {
  .scene-1 .neonsign {
    width: 1216px;
    height: 465px;
  }
}

.scene-2 {
  width: 1400px;
}

.scene-2 #copy-1, .scene-2 #copy-2, .scene-2 #copy-3 {
  position: absolute;
  top: 150%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
}

.scene-2 .globe {
  width: 491px;
  margin: auto;
  height: 485px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/gviz/layers/globe.svg);
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scene-2 #stat-1, .scene-2 #stat-2, .scene-2 #stat-3 {
  top: 160%;
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
}

.scene-2.cut-2 .globe {
  left: -100%;
}

.scene-2.cut-2 #copy-1 {
  top: 50%;
}

.scene-2.cut-2 #stat-1 {
  top: 50%;
}

.scene-2.cut-3 #copy-1 {
  right: -150%;
}

.scene-2.cut-3 #stat-1 {
  left: -100%;
}

.scene-2.cut-3 #copy-2 {
  top: 50%;
}

.scene-2.cut-3 #stat-2 {
  top: 50%;
}

.scene-2.cut-4 #copy-2 {
  right: -150%;
}

.scene-2.cut-4 #stat-2 {
  left: -100%;
}

.scene-2.cut-4 #copy-3 {
  top: 50%;
}

.scene-2.cut-4 #stat-3 {
  top: 50%;
}

.scene-3 .drinker-drink-down {
  opacity: 0;
}

.scene-3 .perspective-level-1,
.scene-3 .perspective-level-2,
.scene-3 .perspective-level-3 {
  top: 100%;
}

.scene-3 .perspective-level-2 {
  right: 80px;
}

.scene-3 .copy {
  position: absolute;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scene-3.cut-1 .perspective-level-1 {
  top: 339px;
}

.scene-3.cut-1 .perspective-level-2 {
  top: 294px;
}

.scene-3.cut-1 .perspective-level-3 {
  top: 100px;
}

.scene-3.cut-2 #scene-3-copy-1 {
  top: 50%;
}

.scene-3.cut-3 #scene-3-copy-1 {
  left: -150%;
}

.scene-3.cut-3 #scene-3-copy-2 {
  top: 50%;
}

.scene-3.cut-4 #scene-3-copy-2 {
  left: -150%;
}

.scene-3.cut-4 #scene-3-copy-3 {
  top: 50%;
}

.scene-3.cut-5 #scene-3-copy-3 {
  left: -150%;
}

.scene-3.cut-5 #scene-3-copy-4 {
  top: 50%;
}

.scene-3.cut-6 #scene-3-copy-4 {
  left: -150%;
}

.scene-3.cut-6 #scene-3-copy-5 {
  top: 50%;
}

.scene-3.cut-7 #scene-3-copy-5 {
  left: -150%;
}

.scene-3.cut-7 #scene-3-copy-6 {
  top: 50%;
}

.scene-3.cut-7 .drinker-drink-up {
  opacity: 0;
}

.scene-3.cut-7 .drinker-drink-down {
  opacity: 1;
}

.scene-3.cut-8 .perspective-level-2, .scene-3.cut-8 .perspective-level-3 {
  opacity: 0.1;
}

.scene-3.cut-8 #scene-3-copy-6 {
  left: -150%;
}

.scene-3.cut-8 #scene-3-copy-7 {
  top: 50%;
}

.scene-3.cut-8 .lookingglass {
  opacity: 0.9;
  top: 62%;
  left: 19%;
}

.scene-3.cut-9 #scene-3-copy-7 {
  left: -150%;
}

.scene-3.cut-9 #scene-3-copy-8 {
  top: 50%;
}

.scene-3.cut-10 .perspective-level-1, .scene-3.cut-10 .perspective-level-3 {
  opacity: 0.1;
}

.scene-3.cut-10 .perspective-level-2 {
  opacity: 1;
}

.scene-3.cut-10 .scene-content {
  -webkit-transform: scale(2) translatey(-9%);
          transform: scale(2) translatey(-9%);
}

.scene-3.cut-10 .pocket {
  opacity: 0.7;
}

.scene-3.cut-10 #scene-3-copy-8 {
  left: -150%;
}

.scene-3.cut-10 #scene-3-copy-9 {
  top: 50%;
  left: 25%;
}

.scene-3.cut-10 .lookingglass {
  left: 53%;
}

.scene-3.cut-11 .scene-content {
  -webkit-transform: unset;
          transform: unset;
}

.scene-3.cut-11 #scene-3-copy-9 {
  left: -150%;
}

.scene-3.cut-11 #scene-3-copy-10 {
  top: 50%;
}

.scene-3.cut-11 .lookingglass {
  left: 83%;
  top: 58%;
}

.scene-3.cut-12 .perspective-level-3 {
  opacity: 1;
}

.scene-3.cut-12 .perspective-level-2, .scene-3.cut-12 .perspective-level-1 {
  opacity: 0.1;
}

.scene-3.cut-12 #scene-3-copy-10 {
  left: -150%;
}

.scene-3.cut-12 #scene-3-copy-11 {
  top: 50%;
}

.scene-3.cut-12 .lookingglass {
  left: 68%;
  top: 37%;
}

.scene-3.cut-13 #scene-3-copy-11 {
  left: -150%;
}

.scene-3.cut-13 #scene-3-copy-12 {
  top: 50%;
}

.scene-3.cut-13 .lookingglass {
  left: 53%;
}

.scene-3.cut-14 #scene-3-copy-12 {
  left: -150%;
}

.scene-3.cut-14 #scene-3-copy-13 {
  top: 50%;
}

.scene-3.cut-14 .lookingglass {
  left: 13%;
  top: 29%;
}

.scene-4 .copy {
  position: absolute;
  top: 150%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scene-4 .intestine, .scene-4 .flame {
  opacity: 0;
}

.scene-4 .friend {
  opacity: 0.1;
}

.scene-4 .character-eating, .scene-4 .character-distressed {
  opacity: 0;
}

.scene-4.cut-1 #scene-4-copy-1 {
  top: 50%;
  left: 80%;
}

.scene-4.cut-2 .character-eating {
  opacity: 1;
}

.scene-4.cut-2 .character-served {
  opacity: 0;
}

.scene-4.cut-2 #scene-4-copy-1 {
  left: -150%;
}

.scene-4.cut-2 #scene-4-copy-2 {
  top: 50%;
  left: 80%;
}

.scene-4.cut-3 .character-eating {
  opacity: 0.2;
}

.scene-4.cut-3 #scene-4-copy-2 {
  left: -150%;
}

.scene-4.cut-3 #scene-4-copy-3 {
  top: 50%;
}

.scene-4.cut-3 .intestine-1 {
  opacity: 1;
}

.scene-4.cut-4 #scene-4-copy-3 {
  left: -150%;
}

.scene-4.cut-4 #scene-4-copy-4 {
  top: 50%;
}

.scene-4.cut-4 .intestine-2 {
  opacity: 0;
}

.scene-4.cut-4 .intestine-3 {
  opacity: 1;
}

.scene-4.cut-5 #scene-4-copy-4 {
  left: -150%;
}

.scene-4.cut-5 .intestine {
  opacity: 0;
}

.scene-4.cut-5 .flame {
  opacity: 1;
}

.scene-4.cut-5 .intestine-3 {
  opacity: 0;
}

.scene-4.cut-5 .intestine-4 {
  opacity: 1;
}

.scene-4.cut-6 .character-eating {
  opacity: 0;
}

.scene-4.cut-6 .character-distressed {
  opacity: 1;
}

.scene-4.cut-6 .friend {
  opacity: 1;
}

.scene-4.cut-6 .intestine-4 {
  opacity: 0;
}
/*# sourceMappingURL=scenes.css.map */