.scene-1{
    .neonsign {
      width:300px;
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(/gviz/layers/neonsign.svg);
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      position: absolute;
      @media (orientation:landscape){
        width: 1216px;
        height: 465px;
      }
    }
  }
  
  .scene-2{
    @media(orientation:landscape){
      width:1400px;
    }
    
  

  
    .globe{
      width:300px;
      height:300px;
      margin: auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(/gviz/layers/globe.svg);
      left:50%;
      position: absolute;
      top:50%;
      transform: translate(-50%, -50%);
      @media (orientation:landscape){
        width:491px;
        height:485px;
      }
    }
  
    #stat-container-2, #stat-container-3, #stat-container-1{
      top:200vh;
      position: absolute;
      transform: translate(-50%, -50%);
      left:50%;
    }
  
    &.cut-2{
      .globe{
        left:-100vw;
      }

      #stat-container-1{
        top:50%;
      }
  
      
    }
  
    &.cut-3{
      #stat-container-1{
        left:-100vw;
      }
  
  
      #stat-container-2{
        top:50%;
      }
    }
  
    &.cut-4{

      #stat-container-2{
        left:-100vw;
      }
  
      #stat-container-3{
        top:50%;
      }
    }
  
  }
  
  //Restaurant scene
  .scene-3{
    .drinker-drink-down, .speech-bubble-cycler{
      opacity: 0;
    }
    .perspective-level-1,
    .perspective-level-2,
    .perspective-level-3{
      top:100%;
    }
  
    .perspective-level-2{
      right:80px;
    }
  
    .copy{
      position: absolute;
      top:150%;
      left:50%;
      transform: translate(-50%, -50%);
    }

    .speech-bubble-cycler{
      top:-213px;
      left:231px;
    }
  
    &.cut-1{
      @media (orientation:portrait){
        .scene-content{
          transform:translate(36%, 11%) scale(0.4);
          transform-origin: left;
        }
      }

      .perspective-level-1{
        top:339px;
      }
      .perspective-level-2{
        top:294px;
      }
      .perspective-level-3{
        top:100px;
      }
    }
  
    &.cut-2{
  
      #scene-3-copy-1{
        top:50%;
      }
    }
  
    &.cut-3{
      #scene-3-copy-1{
        left:-150%;
      }
      #scene-3-copy-2{
        top:50%;
      }
    }
    &.cut-4{
      .scene-content{
        @media (orientation:landscape){
          transform:translatey(20%);
        }
        
      }
      .speech-bubble-cycler{
        opacity: 1;
      }
      #scene-3-copy-2{
        left:-150%;
      }
      #scene-3-copy-3{
        top:50%;
      }
    }
    &.cut-5{
      #scene-3-copy-3{
        left:-150%;
      }
      #scene-3-copy-4{
        top:50%;
      }
    }
    &.cut-6{
      #scene-3-copy-4{
        left:-150%;
      }
      #scene-3-copy-5{
        top:50%;
      }
    }
    &.cut-7{
      #scene-3-copy-5{
        left:-150%;
      }
      #scene-3-copy-6{
        top:50%;
      }
      .drinker-drink-up{
        opacity: 0;
      }
      .drinker-drink-down{
        opacity: 1;
      }
    }
    //alcohol
    &.cut-8{
      .speech-bubble-cycler{
        opacity: 0;
      }
      .scene-content{
        @media(orientation:landscape){
          transform: unset;
        }
        
      }
      .perspective-level-2, .perspective-level-3{
        opacity: 0.1;
      }
      #scene-3-copy-6{
        left:-150%;
      }
      #scene-3-copy-7{
        top:50%;
      }
      .lookingglass{
        opacity: 0.9;
        top:62%;
        left:19%;
      }
  
    }
    //smoking
    &.cut-9{
      #scene-3-copy-7{
        left:-150%;
      }
      #scene-3-copy-8{
        top:50%;
      }
    }
    //meds
    &.cut-10{
      .perspective-level-1, .perspective-level-3{
        opacity: 0.1;
      }
      .perspective-level-2{
        opacity: 1;
      }
      .scene-content{
        transform: scale(2) translatey(-9%);
      }
      .pocket{
        opacity:0.7;
      }
      #scene-3-copy-8{
        left:-150%;
      }
  
      #scene-3-copy-9{
        top:50%;
        left:25%;
      }
  
      .lookingglass{
        left:53%;
      }
    }
    //Obesity
    &.cut-11{
      .scene-content{
        transform: unset;
      }
      #scene-3-copy-9{
        left:-150%;
      }
  
      #scene-3-copy-10{
        top:50%;
      }
  
      .lookingglass{
        left:83%;
        top:58%;
      }
    }
    //Pregnancy
    &.cut-12{
      .perspective-level-3{
        opacity:1;
      }
      .perspective-level-2, .perspective-level-1{
        opacity: 0.1;
      }
      #scene-3-copy-10{
        left:-150%;
      }
  
      #scene-3-copy-11{
        top:50%;
      }
  
      .lookingglass{
        left:74%;
        top:31%;
      }
    }
    //Genetics
    &.cut-13{
      #scene-3-copy-11{
        left:-150%;
      }
  
      #scene-3-copy-12{
        top:50%;
      }
  
      .lookingglass{
        left:53%;
      }
    }
    //Age
    &.cut-14{
      #scene-3-copy-12{
        left:-150%;
      }
  
      #scene-3-copy-13{
        top:50%;
      }
  
      .lookingglass{
        left:13%;
        top:29%;
      }
    }
  
  }
  
  //Table for two scene
  .scene-4{
    .copy{
      position: absolute;
      top:150%;
      left:70%;
      transform: translate(-50%, -50%);
    }
  
    

    .friend{
      opacity: 0.1;
    }
    .character-eating, .character-distressed,
    .speech-bubble-home,
    .intestine, .flame,
    .friend-distressed, .character-standing-distressed{
      opacity: 0;
    }

    
 
  
  
    &.cut-1{
      #scene-4-copy-1{
        top:50%;
        //left:80%;
      }
    }
    &.cut-2{
      .character-eating{
        opacity: 1;
      }
      .character-served{
        opacity: 0;
      }
      #scene-4-copy-1{
       left:-150%;
      }
      #scene-4-copy-2{
        top:50%;
        //left:80%;
      }

    }
    &.cut-3{
      .character-eating{
        opacity: 0.2;
      }
      #scene-4-copy-2{
       left:-150%;
      }
      #scene-4-copy-3{
        top:50%;
      }
      .intestine-1{
        opacity: 1;
      }
      .scene-content{
        transform: scale(1.2) translateY(20%);
      }
  
    }
    &.cut-4{
      #scene-4-copy-3{
       left:-150%;
      }
      #scene-4-copy-4{
        top:50%;
      }
      .intestine-2{
        opacity:0;
      }
      .intestine-3{
        opacity:1;
      }
    }
  
    &.cut-5{
      #scene-4-copy-4{
        left:-150%;
      }
      .intestine{
        opacity: 0;
      }
  
      .flame{
        opacity: 1;
      }
      .intestine-3{
        opacity:0;
      }
      .intestine-4{
        opacity:1;
      }
    }

    &.cut-6{
      .character-eating{
        opacity: 0;
      }
      .character-distressed{
        opacity: 1;
      }

      .friend{
        opacity: 1;
      }

      .intestine-4{
        opacity: 0;
      }
    }
    &.cut-7{
      .scene-content{
        transform: translateY(35%);
      }
      .speech-bubble-home{
        opacity: 1;
      }
      .friend{
        opacity: 0;
      }
      .friend-distressed{
        opacity: 1;
      }
    }
    &.cut-8{
      .speech-bubble-home{
        opacity: 0;
      }
      .character-distressed{
        opacity: 0;
      }
      .character-standing-distressed{
        opacity: 1;
      }
    }
  }