.article-details-page .container-fluid .article-body .text-block .front-center {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.article-details-page .container-fluid .article-body .text-block .neonsign {
  width: 1216px;
  height: 465px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://mittonvine.github.io/gviz2/layers/neonsign.svg);
  position: absolute;
  left: 50%;
  top: -100%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.article-details-page .container-fluid .article-body .text-block .stomach {
  width: 172px;
  height: 451px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 286px;
  left: 940px;
}

.article-details-page .container-fluid .article-body .text-block .stomach-1 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/antacid-step-1.svg");
}

.article-details-page .container-fluid .article-body .text-block .stomach-2 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/antacid-step-2.svg");
}

.article-details-page .container-fluid .article-body .text-block .stomach-3 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/antacid-step-3.svg");
}

.article-details-page .container-fluid .article-body .text-block .stomach-4 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/antacid-step-4.svg");
}

.article-details-page .container-fluid .article-body .text-block .stomach-5 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/antacid-step-5.svg");
}

.article-details-page .container-fluid .article-body .text-block .stomach-6 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/antacid-step-6.svg");
}

.article-details-page .container-fluid .article-body .text-block .stomach-7 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/antacid-step-7.svg");
}

.article-details-page .container-fluid .article-body .text-block .stomach-8 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/antacid-step-8.svg");
}

.article-details-page .container-fluid .article-body .text-block .clock {
  width: 181px;
  height: 181px;
  top: -100px;
  left: 1200px;
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .clock--07 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/clock-07.svg");
}

.article-details-page .container-fluid .article-body .text-block .clock--08 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/clock-08.svg");
}

.article-details-page .container-fluid .article-body .text-block .intestine {
  width: 149px;
  height: 391px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 92px;
  left: 390px;
}

.article-details-page .container-fluid .article-body .text-block .intestine-food-in-throat {
  background-image: url("https://mittonvine.github.io/gviz2/layers/intestine-food-in-throat.png");
}

.article-details-page .container-fluid .article-body .text-block .intestine-food-entering-stomach {
  background-image: url("https://mittonvine.github.io/gviz2/layers/intestine-food-entering-stomach.svg");
}

.article-details-page .container-fluid .article-body .text-block .intestine-blue-red-bubbles {
  background-image: url("https://mittonvine.github.io/gviz2/layers/intestine-blue-red-bubbles.svg");
}

.article-details-page .container-fluid .article-body .text-block .intestine-red {
  background-image: url("https://mittonvine.github.io/gviz2/layers/intestine-red.svg");
}

.article-details-page .container-fluid .article-body .text-block .intestine-red-and-filling {
  background-image: url("https://mittonvine.github.io/gviz2/layers/intestine-red-and-filling.svg");
}

.article-details-page .container-fluid .article-body .text-block .intestine-with-flame {
  background-image: url("https://mittonvine.github.io/gviz2/layers/intestine-with-flame.svg");
}

.article-details-page .container-fluid .article-body .text-block .intestine-with-glowing-flame {
  background-image: url("https://mittonvine.github.io/gviz2/layers/intestine-with-glowing-flame.svg");
}

.article-details-page .container-fluid .article-body .text-block .intestine-glow-in-mouth {
  background-image: url("https://mittonvine.github.io/gviz2/layers/intestine-glow-in-mouth.svg");
  top: 82px;
  height: 399px;
}

.article-details-page .container-fluid .article-body .text-block .character-home-sad {
  width: 409px;
  height: 1136px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background: url("https://mittonvine.github.io/gviz2/layers/character-home-sad.svg");
}

.article-details-page .container-fluid .article-body .text-block .character-home-hangs-head {
  width: 412px;
  height: 1116px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background: url("https://mittonvine.github.io/gviz2/layers/character-home-hangs-head.svg");
}

.article-details-page .container-fluid .article-body .text-block .character-home-waiting {
  width: 409px;
  height: 1136px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background: url("https://mittonvine.github.io/gviz2/layers/character-home-waiting.svg");
}

.article-details-page .container-fluid .article-body .text-block .character-home-happy {
  width: 409px;
  height: 1136px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background: url("https://mittonvine.github.io/gviz2/layers/character-home-happy.svg");
}

.article-details-page .container-fluid .article-body .text-block .home-scene {
  width: 1920px;
  height: 426px;
  position: absolute;
  top: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background: url("https://mittonvine.github.io/gviz2/layers/home-background.svg");
}

.article-details-page .container-fluid .article-body .text-block .character-home-taking-meds {
  background: url("https://mittonvine.github.io/gviz2/layers/character-home.svg");
  width: 412px;
  height: 1110px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .food-particles {
  background: url("https://mittonvine.github.io/gviz2/layers/food-particles.svg");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  left: 99px;
  -webkit-animation-name: swallow;
          animation-name: swallow;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.article-details-page .container-fluid .article-body .text-block .red-stuff {
  background: url("https://mittonvine.github.io/gviz2/layers/red-stuff.svg");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 162px;
  height: 109px;
  left: 98px;
  top: 608px;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.article-details-page .container-fluid .article-body .text-block .stomach-antacid {
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .stomach-antacid .antacid-step {
  position: absolute;
  width: 563;
  height: 1477;
  background-size: contain;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0;
}

.article-details-page .container-fluid .article-body .text-block .stomach-antacid .antacid-step-1 {
  background: url("https://mittonvine.github.io/gviz2/layers/antacid-step-1.svg");
  -webkit-animation: appear;
          animation: appear;
}

.article-details-page .container-fluid .article-body .text-block .stomach-antacid .antacid-step-2 {
  background: url("https://mittonvine.github.io/gviz2/layers/antacid-step-2.svg");
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.article-details-page .container-fluid .article-body .text-block .stomach-antacid .antacid-step-3 {
  background: url("https://mittonvine.github.io/gviz2/layers/antacid-step-3.svg");
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.article-details-page .container-fluid .article-body .text-block .stomach-antacid .antacid-step-4 {
  background: url("https://mittonvine.github.io/gviz2/layers/antacid-step-4.svg");
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

.article-details-page .container-fluid .article-body .text-block .stomach-antacid .antacid-step-5 {
  background: url("https://mittonvine.github.io/gviz2/layers/antacid-step-5.svg");
  -webkit-animation-delay: 40s;
          animation-delay: 40s;
}

.article-details-page .container-fluid .article-body .text-block .perspective-level-1 {
  width: 1920px;
  height: 817px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .perspective-level-2 {
  background: url("https://mittonvine.github.io/gviz2/layers/perspective-level-2.svg");
  width: 1047px;
  height: 803px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .perspective-level-2--mobile {
  width: 383px;
  height: 294px;
}

.article-details-page .container-fluid .article-body .text-block .perspective-level-3 {
  background: url("https://mittonvine.github.io/gviz2/layers/perspective-level-3.svg");
  width: 1814px;
  height: 484px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .perspective-level-4 {
  background: url("https://mittonvine.github.io/gviz2/layers/perspective-level-3.svg");
  width: 1814px;
  height: 484px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .pocket {
  background: url("https://mittonvine.github.io/gviz2/layers/pocket.svg");
  width: 67px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 45%;
  left: 17%;
}

@media (max-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .desktop-element {
    display: none;
  }
}

@media (min-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .mobile-element {
    display: none;
  }
}

.article-details-page .container-fluid .article-body .text-block .flame {
  background: url("https://mittonvine.github.io/gviz2/layers/flame.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 179px;
  top: 100px;
}

.article-details-page .container-fluid .article-body .text-block .background-static {
  background: url("https://mittonvine.github.io/gviz2/layers/background-static.png");
  width: 1920px;
  height: 610px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .background-static-light-on {
  background: url("https://mittonvine.github.io/gviz2/layers/background-static-light-on.png");
  width: 1920px;
  height: 610px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .window-lit {
  background: url("https://mittonvine.github.io/gviz2/layers/window-lit.svg");
  width: 10px;
  height: 13px;
  position: absolute;
  top: 20.9%;
  left: 48.1%;
  background-size: contain;
}

.article-details-page .container-fluid .article-body .text-block .drinker {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .drinker--drink-up {
  background: url("https://mittonvine.github.io/gviz2/layers/drinker-drink-up.svg");
  width: 547px;
  height: 626px;
  left: 183px;
}

.article-details-page .container-fluid .article-body .text-block .drinker--drink-up--mobile {
  width: 199px;
  height: 228px;
  left: 0;
}

.article-details-page .container-fluid .article-body .text-block .drinker--drink-down {
  background: url("https://mittonvine.github.io/gviz2/layers/drinker-drink-down.svg");
  width: 710px;
  height: 604px;
  left: 183px;
}

.article-details-page .container-fluid .article-body .text-block .drinker--drink-down--mobile {
  width: 258px;
  height: 219px;
  left: 0;
}

.article-details-page .container-fluid .article-body .text-block .bar-bench {
  background: url("https://mittonvine.github.io/gviz2/layers/bar-bench.svg");
  width: 1920px;
  height: 278px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
}

.article-details-page .container-fluid .article-body .text-block .table-for-two {
  background: url("https://mittonvine.github.io/gviz2/layers/table-for-two.svg");
  width: 1920px;
  height: 1595px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
}

.article-details-page .container-fluid .article-body .text-block .character-served {
  background: url("https://mittonvine.github.io/gviz2/layers/character-served.svg");
  width: 560px;
  height: 958px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -24px;
  left: 351px;
}

.article-details-page .container-fluid .article-body .text-block .character-eating {
  background: url("https://mittonvine.github.io/gviz2/layers/character-eating.svg");
  width: 560px;
  height: 958px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -24px;
  left: 351px;
}

.article-details-page .container-fluid .article-body .text-block .character-leans-forward {
  background: url("https://mittonvine.github.io/gviz2/layers/character-leans-forward.svg");
  width: 560px;
  height: 958px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -24px;
  left: 351px;
}

.article-details-page .container-fluid .article-body .text-block .friend {
  background: url("https://mittonvine.github.io/gviz2/layers/friend.svg");
  width: 476px;
  height: 920px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 25px;
  left: 1019px;
}

.article-details-page .container-fluid .article-body .text-block .friend-distressed {
  background: url("https://mittonvine.github.io/gviz2/layers/friend-distressed.svg");
  width: 476px;
  height: 920px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 25px;
  left: 1019px;
}

.article-details-page .container-fluid .article-body .text-block .friend-distressed-2 {
  background: url("https://mittonvine.github.io/gviz2/layers/friend-distressed-2.svg");
  width: 476px;
  height: 920px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 25px;
  left: 1019px;
}

.article-details-page .container-fluid .article-body .text-block .speech-bubble-home {
  background: url("https://mittonvine.github.io/gviz2/layers/speech-bubble-home.svg");
  width: 311px;
  height: 231px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -263px;
  left: 319px;
}

.article-details-page .container-fluid .article-body .text-block .medicine-thought-bubble {
  background: url("https://mittonvine.github.io/gviz2/layers/medicine-thought-bubble.png");
  width: 237px;
  height: 231px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -250px;
  left: 871px;
}

.article-details-page .container-fluid .article-body .text-block .character-standing-distressed {
  width: 439px;
  height: 1219px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 351px;
  top: -280px;
  background-image: url("https://mittonvine.github.io/gviz2/layers/character-standing-distressed.svg");
}

.article-details-page .container-fluid .article-body .text-block .character-distressed {
  background-image: url("https://mittonvine.github.io/gviz2/layers/character-distressed.svg");
  width: 560px;
  height: 958px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -24px;
  left: 351px;
  -webkit-transition: all 0;
  transition: all 0;
}

@-webkit-keyframes standUp {
  0% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/get-up-1.svg");
    width: 561px;
    height: 1025px;
    left: 351px;
    top: -25px;
  }
  15% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/get-up-2.svg");
    width: 560px;
    height: 1120px;
    left: 351px;
    top: -88px;
  }
  30% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/get-up-3.svg");
    width: 560px;
    height: 1120px;
    left: 351px;
    top: -186px;
  }
  45% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/get-up-4.svg");
    width: 561px;
    height: 1199px;
    left: 349px;
    top: -266px;
  }
  70% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/get-up-5.svg");
    width: 649px;
    height: 1265px;
    left: 303px;
    top: -330px;
  }
  100% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/character-standing-distressed.svg");
    width: 439px;
    height: 1219px;
    left: 351px;
    top: -280px;
  }
}

@keyframes standUp {
  0% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/get-up-1.svg");
    width: 561px;
    height: 1025px;
    left: 351px;
    top: -25px;
  }
  15% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/get-up-2.svg");
    width: 560px;
    height: 1120px;
    left: 351px;
    top: -88px;
  }
  30% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/get-up-3.svg");
    width: 560px;
    height: 1120px;
    left: 351px;
    top: -186px;
  }
  45% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/get-up-4.svg");
    width: 561px;
    height: 1199px;
    left: 349px;
    top: -266px;
  }
  70% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/get-up-5.svg");
    width: 649px;
    height: 1265px;
    left: 303px;
    top: -330px;
  }
  100% {
    background-image: url("https://mittonvine.github.io/gviz2/layers/character-standing-distressed.svg");
    width: 439px;
    height: 1219px;
    left: 351px;
    top: -280px;
  }
}

.article-details-page .container-fluid .article-body .text-block .speech-bubble-cycler {
  width: 182px;
  height: 247px;
  position: absolute;
}

.article-details-page .container-fluid .article-body .text-block .speech-bubble {
  width: 182px;
  height: 247px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  -webkit-animation-name: timeshare;
          animation-name: timeshare;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
}

.article-details-page .container-fluid .article-body .text-block .speech-bubble-spaghetti {
  background-image: url("https://mittonvine.github.io/gviz2/layers/bubble-spaghetti.svg");
}

.article-details-page .container-fluid .article-body .text-block .speech-bubble-cheese-burger {
  background-image: url("https://mittonvine.github.io/gviz2/layers/bubble-cheese-burger.svg");
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.article-details-page .container-fluid .article-body .text-block .speech-bubble-chilly-tacos {
  background-image: url("https://mittonvine.github.io/gviz2/layers/bubble-chilly-tacos.svg");
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.article-details-page .container-fluid .article-body .text-block .speech-bubble-garlic-bread {
  background-image: url("https://mittonvine.github.io/gviz2/layers/bubble-garlic-bread.svg");
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.article-details-page .container-fluid .article-body .text-block .speech-bubble-mint-choco {
  background-image: url("https://mittonvine.github.io/gviz2/layers/bubble-mint-choco.svg");
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.article-details-page .container-fluid .article-body .text-block .speech-bubble-pink-lemonade {
  background-image: url("https://mittonvine.github.io/gviz2/layers/bubble-pink-lemonade.svg");
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.article-details-page .container-fluid .article-body .text-block .speech-bubble-pizza {
  background-image: url("https://mittonvine.github.io/gviz2/layers/bubble-pizza.svg");
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes timeshare {
  5% {
    opacity: 1;
  }
  14% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
}

@keyframes timeshare {
  5% {
    opacity: 1;
  }
  14% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
}

.article-details-page .container-fluid .article-body .text-block .stat-1 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/stat1.svg");
  background-repeat: no-repeat;
  width: 686px;
  height: 375px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: center;
}

@media (max-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .stat-1 {
    width: 343px;
    height: 187px;
  }
}

.article-details-page .container-fluid .article-body .text-block .stat-2 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/stat2.svg");
  background-repeat: no-repeat;
  width: 686px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: center;
}

@media (max-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .stat-2 {
    width: 343px;
    height: 375px;
  }
}

.article-details-page .container-fluid .article-body .text-block .stat-3 {
  background-image: url("https://mittonvine.github.io/gviz2/layers/stat3.svg");
  background-repeat: no-repeat;
  width: 686px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: center;
}

@media (max-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .stat-3 {
    height: 375px;
    width: 343px;
  }
}

.article-details-page .container-fluid .article-body .text-block .globe {
  background-image: url(https://mittonvine.github.io/gviz2/layers/globe.svg);
  background-repeat: no-repeat;
  width: 491px;
  height: 485px;
  background-size: contain;
  position: relative;
  background-position: center;
}

@media (max-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .globe {
    width: 300px;
    height: 296px;
  }
}

.article-details-page .container-fluid .article-body .text-block .radiating-circle {
  position: relative;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://mittonvine.github.io/gviz2/layers/radiating-circle.svg);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
          animation-name: pulse;
}

@media (max-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .radiating-circle {
    width: 15px;
    height: 15px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.article-details-page .container-fluid .article-body .text-block .copy {
  background-color: rgba(8, 5, 62, 0.95);
  position: absolute;
  color: white;
  padding: 25px 23px 0px 30px;
  font-family: 'Frutiger LT Pro 55 Roman';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90vw;
}

@media (min-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .copy {
    width: 527px;
    padding: 80px 71px 90px 63px;
  }
}

@media (min-width: 1400px) {
  .article-details-page .container-fluid .article-body .text-block .copy {
    width: 627px;
    padding: 100px 91px 100px 73px;
  }
}

.article-details-page .container-fluid .article-body .text-block .copy--time {
  padding: 20px 80px;
  width: auto;
}

.article-details-page .container-fluid .article-body .text-block .copy--alt {
  width: 340px;
  padding: 32px 23px;
  text-align: center;
}

.article-details-page .container-fluid .article-body .text-block .copy h2 {
  font-family: 'Frutiger LT Pro 65 Bold';
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

@media (min-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .copy h2 {
    font-size: 22px;
  }
}

@media (min-width: 1400px) {
  .article-details-page .container-fluid .article-body .text-block .copy h2 {
    font-size: 32px;
  }
}

.article-details-page .container-fluid .article-body .text-block .copy h3 {
  font-family: 'Frutiger LT Pro 55 Roman';
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (min-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .copy h3 {
    font-size: 22px;
  }
}

@media (min-width: 1400px) {
  .article-details-page .container-fluid .article-body .text-block .copy h3 {
    font-size: 32px;
  }
}

.article-details-page .container-fluid .article-body .text-block .copy p, .article-details-page .container-fluid .article-body .text-block .copy li {
  font-size: 15px;
  font-weight: 400;
}

@media (min-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .copy p, .article-details-page .container-fluid .article-body .text-block .copy li {
    font-size: 17px;
  }
}

@media (min-width: 1400px) {
  .article-details-page .container-fluid .article-body .text-block .copy p, .article-details-page .container-fluid .article-body .text-block .copy li {
    font-size: 22px;
  }
}

.article-details-page .container-fluid .article-body .text-block .copy ul {
  -webkit-padding-start: 1em;
          padding-inline-start: 1em;
}

.article-details-page .container-fluid .article-body .text-block .copy--final {
  font-family: 'Frutiger LT Pro 55 Roman';
  font-size: 22px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.9);
  color: #0a0555;
  padding: 20px 10px;
  border: 5px solid #2f72f4;
  border-radius: 30px;
}

@media (min-width: 1000px) {
  .article-details-page .container-fluid .article-body .text-block .copy--final {
    border: 15px solid #2f72f4;
    width: 1100px;
    padding: 150px 120px;
  }
}

@media (max-width: 1700px) {
  .article-details-page .container-fluid .article-body .text-block .copy--final {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.article-details-page .container-fluid .article-body .text-block .copy--final li {
  padding: 4px 0;
}

@media (min-width: 1000px) {
  .article-details-page .container-fluid .article-body .text-block .copy--final li {
    padding: 6px 0;
  }
}

.article-details-page .container-fluid .article-body .text-block .copy--final h2 {
  color: #ff8a00;
  font-size: 22px;
  font-family: 'Frutiger LT Pro 65 Bold';
}

@media (min-width: 1000px) {
  .article-details-page .container-fluid .article-body .text-block .copy--final h2 {
    font-size: 48px;
  }
}

.article-details-page .container-fluid .article-body .text-block .copy--final h3 {
  color: #2f72f4;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Frutiger LT Pro 55 Roman';
}

@media (min-width: 1000px) {
  .article-details-page .container-fluid .article-body .text-block .copy--final h3 {
    font-size: 40px;
  }
}

.article-details-page .container-fluid .article-body .text-block .footnote {
  position: absolute;
  bottom: 10px;
  color: white;
  display: none;
  font-family: 'Frutiger LT Pro 55 Roman';
  font-size: 14px;
  margin: 0 128px;
}

@media (min-width: 1400px) {
  .article-details-page .container-fluid .article-body .text-block .footnote {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .article-details-page .container-fluid .article-body .text-block .footnote {
    margin: 0 20px;
    font-size: 8px;
  }
}
/*# sourceMappingURL=elements.css.map */