.article-details-page .container-fluid .article-body .text-block{



.front-center{
  left:50%;
  position: absolute;
  top:50%;
  transform: translate(-50%, -50%);
}

.neonsign{
  position:absolute;
  @media(max-width:600px){
    transform: scale(0.3);
  }
//   width: 1216px;
//   height: 465px;
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-image: svg('layers/neonsign.svg');
//   position: absolute;
//   left:50%;
//   top:-100%;
//   transform: translate(-50%,-100%);
}

.stomach{
  //width:172px;
  //height: 451px;
  position: absolute;
  //background-size: contain;
  //background-repeat: no-repeat;
  top:286px;
  left:940px;
}

.stomach-1{
  //background-image:svg('layers/antacid-step-1.svg');
}
.stomach-2{
  //background-image:svg('layers/antacid-step-2.svg');
}
.stomach-3{
  //background-image:svg('layers/antacid-step-3.svg');
}
.stomach-4{
  //background-image:svg('layers/antacid-step-4.svg');
}
.stomach-5{
  //background-image:svg('layers/antacid-step-5.svg');
}
.stomach-6{
  //background-image:svg('layers/antacid-step-6.svg');
}
.stomach-7{
  //background-image:svg('layers/antacid-step-7.svg');
}
.stomach-8{
  //background-image:svg('layers/antacid-step-8.svg');
}

.clock{
  //width:181px;
  //height: 181px;
  top:-100px;
  left:1200px;
  position:absolute;

  &--07{
    //background-image:svg('layers/clock-07.svg');
  }

  &--08{
    //background-image:svg('layers/clock-08.svg');
  }
}


.intestine{
  //width:149px;
  //height: 390px;
  position: absolute;
  //background-size: contain;
  //background-repeat: no-repeat;
  top:89px;
  left:417px;
}

.intestine-food-in-throat{
  //was png
  //background-image:svg('layers/intestine-food-in-throat.svg');
}

.intestine-food-entering-stomach{
  //background-image:svg('layers/intestine-food-entering-stomach.svg');
}
.intestine-blue-red-bubbles{
  //background-image:svg('layers/intestine-blue-red-bubbles.svg');
}
.intestine-red{
  //background-image:svg('layers/intestine-red.svg');
}
.intestine-red-and-filling{
  //background-image:svg('layers/intestine-red-and-filling.svg');
}
.intestine-with-flame{
  //background-image:svg('layers/intestine-with-flame.svg');
}
.intestine-with-glowing-flame{
  //background-image:svg('layers/intestine-with-glowing-flame.svg');
}
.intestine-glow-in-mouth{
  //background-image:svg('layers/intestine-glow-in-mouth.svg');
  //top:82px;
  //height: 399px;
}


.character-home-sad{
  //width:409px;
  //height: 1136px;
  position: absolute;
  //background-size: contain;
  //background-repeat: no-repeat;
  //background:svg('layers/character-home-sad.svg');
}

.character-home-hangs-head{
  //width:412px;
  //height: 1116px;
  position: absolute;
  //background-size: contain;
  //background-repeat: no-repeat;
  //background:svg('layers/character-home-hangs-head.svg');
}

.character-home-waiting{
  //width:409px;
  //height: 1136px;
  position: absolute;
  //background-size: contain;
  //background-repeat: no-repeat;
  //background:svg('layers/character-home-waiting.svg');
}

.character-home-happy{
  //width:409px;
  //height: 1136px;
  position: absolute;
  //background-size: contain;
  //background-repeat: no-repeat;
  //background:svg('layers/character-home-happy.svg');
}

.home-scene{
  //width:1920px;
  //height: 426px;
  position: absolute;
  top:30%;
  //background-size: contain;
  //background-repeat: no-repeat;
  //background:svg('layers/home-background.svg');
}

  

.character-home-taking-meds {
  //background: svg("layers/character-home.svg");
  //width: 412px;
  //height: 1110px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
}

  

.food-particles{
  //background:svg('layers/food-particles.svg');
  position: absolute;
  //background-size: contain;
  //background-repeat: no-repeat;
  //width:42px;
  //height: 82px;
  left:99px;
  animation-name: swallow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.red-stuff{
  //background:svg('layers/red-stuff.svg');
  position: absolute;
  //background-size: contain;
  //background-repeat: no-repeat;
  //width:162px;
  //height: 110px;
  left:98px;
  top:608px;
  animation-name: appear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.perspective-level-1 {
  //background: svg("layers/perspective-level-1.svg");
  width: 1920px;
  height: 817px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
}

.perspective-level-2 {
  //background: svg("layers/perspective-level-2.svg");
  //width: 1047px;
  //height: 804px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  &--mobile{
    //width: 383px;
    //height: 294px;
  }
}






.perspective-level-3 {
  //background: svg("layers/perspective-level-3.svg");
  //width: 1814px;
  //height: 484px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
}

.perspective-level-4{
  position: absolute;
}

.pocket {
  //background: svg("layers/pocket.svg");
  //width: 67px;
  //height: 65px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:45%;
  left:17%;
}

.desktop-element{
  @media (max-width:600px){
    display: none;
  }
}

.mobile-element{
  @media(min-width:600px){
    display: none;
  }
}
  
.flame {
  //background: svg("layers/flame.svg");
  //width: 30px;
  //height: 30px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  left:179px;
  top:100px;
}

.background-static {
  //was png
  //background: svg("layers/background-static.svg");
  //width: 1920px;
  ////height: 610px;
  //background-repeat: no-repeat;
  //background-size: contain;
  //position: absolute;
}
.background-static-light-on {
  //was png
  //background: svg("layers/background-static-light-on.svg");
  //width: 1920px;
  //height: 610px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
}

.window-lit{
  //background: svg("layers/window-lit.svg");
  //width:10px;
  //height:13px;
  position: absolute;
  top:20.9%;
  left:48.1%;
  //background-size: contain;
}

.drinker{
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  &--drink-up {
    //background: svg("layers/drinker-drink-up.svg");
    //width: 547px;
    //height: 626px;
    left:183px;
    &--mobile{
      //width:199px;
      //height: 228px;
      left:0;
    }
  }
  &--drink-down {
    //background: svg("layers/drinker-drink-down.svg");
    //width: 710px;
    //height: 605px;
    left:183px;
    &--mobile{
      //width:258px;
      //height: 219px;
      left:0;
    }
  }
}


.bar-bench {
  //background: svg("layers/bar-bench.svg");
  //width: 1920px;
  //height: 278px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  bottom:0;
}
  
.table-for-two {
  //background: svg("layers/table-for-two.svg");
  //width: 2190px;
  //height: 613px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:320px;
}
  
.character-served{
  //background: svg("layers/character-served.svg");
  //width: 560px;
  //height: 956px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:-24px;
  left:372px;
}

.character-eating{
  //background: svg("layers/character-eating.svg");
  //width: 560px;
  //height: 956px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:-24px;
  left:372px;
}



.character-leans-forward{
  //background: svg("layers/character-leans-forward.svg");
  //width: 560px;
  //height: 956px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:-24px;
  left:372px;
}

.friend{
  //background: svg("layers/friend.svg");
  //width: 477px;
  //height: 920px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:25px;
  left:1040px;
}

.friend-distressed{
  //background: svg("layers/friend-distressed.svg");
  //width: 477px;
  //height: 920px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:25px;
  left:1040px;
}

.friend-distressed-2{
  //background: svg("layers/friend-distressed-2.svg");
  //width: 477px;
  //height: 920px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:25px;
  left:1040px;
}

.speech-bubble-home{
  //background: svg("layers/speech-bubble-home.svg");
  //width: 312px;
  //height: 231px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:-263px;
  left:319px;
}

.medicine-thought-bubble{
  //was png
  //background: svg("layers/medicine-thought-bubble.svg");
  //width: 237px;
  //height: 231px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:-250px;
  left:871px;
}

.dual-action-bottle{
  //background: svg("layers/dual-action-bottle.svg");
  //width: 50px;
  //height: 122px;
  //background-repeat: no-repeat;
  //background-size: contain;
  margin:auto;
}

.character-standing-distressed{
  //width: 439px;
  //height: 1219px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  left:351px;
  top:-280px;
  //background-image: svg("layers/character-standing-distressed.svg");
}

.character-distressed{
  //background-image: svg("layers/character-distressed.svg");
  //width: 561px;
  //height: 958px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  top:-24px;
  left:351px;
  transition: all 0;
}

@keyframes standUp{
  0% {
    width: 561px; height: 1025px;
    background: url('css-sprites.png') -10px -3192px;
    left:351px;
    top:-25px  
  }
  15% {
    width: 560px; height: 1120px;
    background: url('css-sprites.png') -4054px -1230px;
    left:351px;
    top:-88px  
  }
  30% {
    width: 561px; height: 1200px;
    background: url('css-sprites.png') -4054px -10px;
    left:351px;
    top:-186px  
  }
  45% {
    width: 650px; height: 1269px;
    background: url('css-sprites.png') -10px -1903px;
    left:349px;
    top:-266px  
  }
  70% {
    width: 439px; height: 1220px;
    background: url('css-sprites.png') -4635px -10px;
     left:303px;
     top:-330px
  }
  100% {
    width: 439px; height: 1219px;
    background: url('css-sprites.png') -4635px -1250px;
    left:351px;
    top:-280px
  };
}

.speech-bubble-cycler{
  width: 182px;
  height: 247px;
  position: absolute;
}
.speech-bubble{
  //width: 200px;
  //height: 231px;
  //background-repeat: no-repeat;
  //background-size: contain;
  position: absolute;
  animation-name: timeshare;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  opacity: 0;
}
.speech-bubble-spaghetti{
  //background-image: svg("layers/bubble-spaghetti.svg");
}
.speech-bubble-cheese-burger{
  //background-image: svg("layers/bubble-cheese-burger.svg");
  animation-delay: 1s;
}
.speech-bubble-chilly-tacos{
  //background-image: svg("layers/bubble-chilly-tacos.svg");
  animation-delay: 2s;
}
.speech-bubble-garlic-bread{
  //background-image: svg("layers/bubble-garlic-bread.svg");
  animation-delay: 3s;
}
.speech-bubble-mint-choco{
  //background-image: svg("layers/bubble-mint-choco.svg");
  animation-delay: 4s;
}
.speech-bubble-pink-lemonade{
  //background-image: svg("layers/bubble-pink-lemonade.svg");
  animation-delay: 5s;
}

.speech-bubble-pizza{
  //background-image: svg("layers/bubble-pizza.svg");
  animation-delay: 6s;
}

@keyframes timeshare{
  5%{opacity: 1;}
  14%{opacity:1;}
  19%{opacity:0;}
}

.stat-1{
  //background-image: svg("layers/stat1.svg");
  //background-repeat: no-repeat;
  //width: 686px;
  //height: 376px;
  //background-repeat: no-repeat;
  //background-size: contain;
  //position: relative;
  //background-position: center;
  @media(max-width:600px){
    //width: 343px;
    //height: 187px;
  }
}

.stat-2{
  //background-image: svg("layers/stat2.svg");
  //background-repeat: no-repeat;
  //width: 686px;
  //height: 750px;
  //background-repeat: no-repeat;
  //background-size: contain;
  //position: relative;
  //background-position: center;
  @media(max-width:600px){
    //width:300px;
    //height: 300px;
  }
}

.stat-3{
  //background-image: svg("layers/stat3.svg");
  //background-repeat: no-repeat;
  //width: 686px;
  //height: 750px;
  //background-repeat: no-repeat;
  //background-size: contain;
  //position: relative;
  //background-position: center;
  @media(max-width:600px){
    //height: 300px;
    //width:300px;
  }
}

// .globe{
//   background-image: svg("layers/globe.svg");
//   background-repeat: no-repeat;
//   width:486px;
//   height:485px;
//   background-size: contain;
//   position: relative;
//   background-position: center;
//   @media(max-width:600px){
//     width:300px;
//     height: 296px;
//   }
// }

.radiating-circle{
  position:relative;
  //width:25px;
  //height: 25px;
  //background-size:contain;
  //background-repeat: no-repeat;
  //background-image: svg("layers/radiating-circle.svg");
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: pulse;
  @media(max-width:600px){
    //width:15px;
    //height: 15px;
  }
}
  


@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(2); } }

.copy{
  background-color: rgba(8, 5, 62, 0.95);
  position: absolute;
  color:white;
  padding:25px 23px 0px 30px;
  font-family:'Frutiger LT Pro 55 Roman';
  //font-family: sans-serif;
  box-sizing: border-box;
  width:90vw;
  @media(min-width:600px){
    width:527px;
    padding:80px 71px 90px 63px;
  }
  @media(min-width:1400px){
    width:627px;
    padding:100px 91px 100px 73px;
  }

  &--time{
    padding:20px 80px;
    width:auto;
  }
    
  &--alt{
    width: 340px;
    padding:32px 23px;
    text-align: center;
  }
        
  h2{
    font-family: 'Frutiger LT Pro 65 Bold';
    font-size: 17px;
    font-weight: 700;
    margin:0;
    @media(min-width:600px){
      font-size: 22px;
    }
    @media(min-width:1400px){
      font-size: 32px;
    }

  }

  h3{
    font-family: 'Frutiger LT Pro 55 Roman';
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
    @media(min-width:600px){
      font-size: 22px;
    }
    @media(min-width:1400px){
      font-size: 32px;
    }
  }
  p, li{
    font-size: 15px;
    font-weight: 400;
    @media(min-width:600px){
      font-size: 17px;
    }
    @media(min-width:1400px){
      font-size: 22px;
    }
  }
    
    
  ul{
    padding-inline-start: 1em;
  }
}

.copy--final{
  font-family: 'Frutiger LT Pro 55 Roman';
  font-size: 22px;
  font-weight: 400;
  background-color: rgba(255,255,255,0.9);
  color:#0a0555;
  padding:20px 10px;
  border:5px solid #2f72f4;
  @media(min-width:1000px){
    border:15px solid #2f72f4;
    width:1100px;
    padding:150px 120px;
  }
  @media(max-width:1700px){
    padding-top: 20px;
    padding-bottom: 20px;
}
  
  border-radius: 30px;

  li{
    padding: 0;
    @media(min-width:1000px){
      padding:6px 0;
    }
  }
  
  h2{
    color:#ff8a00;
    font-size: 22px;
    @media(min-width: 1000px){
      font-size: 48px;
    }
    
    font-family: 'Frutiger LT Pro 65 Bold';
  }

  h3{
    color:#2f72f4;
    font-size: 18px;
    @media(min-width: 1000px){
      font-size: 40px;
    }
    font-weight: 400;
    font-family: 'Frutiger LT Pro 55 Roman';
  }
}

.footnote{
  position:absolute;
  bottom:10px;
  color:white;
  display: none;
  font-family: 'Frutiger LT Pro 55 Roman';
  font-size: 14px;
  margin:0 128px;
  @media(min-width:1400px){
    font-size:18px;
  }
  @media(max-width:600px){
    //opacity: 0;
    margin:0 20px;
    font-size:8px;
  }
}

@media(max-width:600px){
  .scene{

  
  .stat-container{
    height: 100%;
    .stat-graphic{
      transform: scale(0.5);
      transform-origin: top;
      position: absolute;
      top:30px;
    }
   .stat-copy.copy{
      position: absolute;
      bottom:60px;
    }
  }}
}
}


