.article-details-page .container-fluid .article-body .text-block{
.scene-above,.scene-below{
  opacity: 0;

}

.scene{
  .copy{
    position: absolute;
    top:180vh;
    left:50%;
    transform: translate(-50%, -50%);
    @media(orientation:portrait){
      transform: unset;
      left:unset;
    }

    &--left{
      @media(min-width:600px){
        left:25%;
      }
    }
    &--right{
      @media(min-width:600px){
        left:75%;
      }
    }
  }

  .copy.current-copy{
    top:50%;
    @media(max-width:600px){
      top:5vw;
    }
  }

  .copy.previous-copy{
    top:-120vh;
  }
}

.scene-1{
  .neonsign {
    //left:50%;
    top:50%;
    width: 100%;
    transform: translate(-50%,-50%);
    background-position: center;
    @media(max-width:600px){
      //transform: translate(-50%, -300%) scale(1.5);
    }
  }
}
  
//Statistics
.scene-2{
  



  
  #stat-container-2, #stat-container-3, #stat-container-1, #stat-container-0{
    top:180vh;
    position: absolute;
    transform: translate(-50%, -50%);
    left:50%;
  }

  &.cut-1{}

  //globe moves a bit, add first copy
  //footnone-recent-meta-analysis
  &.cut-2{

    #stat-container-0{
      top:50%;
    }
    #footnote-recent-meta{
      display: block;
    }
    
  }
  
  //move the globe and global copy
  // 1 in 5 adults
  &.cut-3{
    #footnote-recent-meta{
      display: none;
    }

    #stat-container-0{
      top:-100vh;
    }

    #stat-container-1{
      top:50%;
    }

    #footnote-1{
      display: block;
    }
  
      
  }
  
  &.cut-4{
    #stat-container-1{
      top:-100vh;
    }
  
  
    #stat-container-2{
      top:50%;
    }

    #footnote-1{
      display: none;
    }
    #footnote-2{
      display: block;
    }
  }
  
  &.cut-5{

    #stat-container-2{
      top:-100vh;
    }
  
    #stat-container-3{
      top:50%;
    }
  }
  
}
  

  
//Table for two scene
.scene-4{
  .background-static-light-on{
    opacity: 0;
  }
  
    

  .friend{
    opacity: 0.1;
  }
  .character-eating, .character-distressed,
  .speech-bubble-home,
  .intestine, .flame,
  .friend-distressed, .character-standing-distressed, .friend-distressed-2, .character-leans-forward, .window-lit{
    opacity: 0;
  }

    
 
  
  
  &.cut-1{

  }

  //pick up food
  &.cut-2{
    .character-eating{
      opacity: 1;
    }
    .character-served{
      opacity: 0;
    }


  }

  //go closer, food in throat
  //background fades
  &.cut-3{
    .background-static{
      opacity: 0.1;
    }
    .character-eating{
      opacity: 0.2;
    }
   
    .intestine-food-in-throat{
      opacity: 0.5;
    }
    .scene-content{
      transform: scale(1.2) translateY(20%);
      @media(max-width:600px){
        transform: scale(3.5) translate(25%,15%);
      }
    }
  
  }

  //stomach into focus, food entering stomach
  &.cut-4{

    .intestine-food-in-throat{
      opacity:0;
    }
    .intestine-food-entering-stomach{
      opacity:1;
    }
  }
  
  //stomach blue, red bubbles
  &.cut-5{


    .intestine-food-entering-stomach{
      opacity:0;
    }
    .intestine-blue-red-bubbles{
      opacity:1;
    }
  }

  //stomach red
  &.cut-6{
    .intestine-blue-red-bubbles{
      opacity:0;
    }
    .intestine-red{
      opacity: 1;
    }
  }

  //stomach red and filling up
  &.cut-7{
    .intestine-red{
      opacity: 0;
    }
    .intestine-red-and-filling{
      opacity: 1;
    }
  }

  //flame appears
  &.cut-8{
    .intestine-red-and-filling{
      opacity: 0;
    }
    .intestine-with-flame{
      opacity: 1;
    }
  }

  //flame glows, show symptoms of reflux copy
  &.cut-9{
    .intestine-with-flame{
      opacity: 0;
    }
    .intestine-with-glowing-flame{
      opacity: 1;
    }

  }

  //glow in mouth
  &.cut-10{
    .intestine-with-glowing-flame{
      opacity: 0;
    }
    .intestine-glow-in-mouth{
      opacity: 1;
    }
  }

  //show what happens indigestion copy
  &.cut-11{

  }

  //table for 2 scene back in focus. Dude is unhappy and has flame on chest
  &.cut-12{
    .background-static{
      opacity: 1;
    }

    .character-eating{
      opacity: 0;
    }
    .character-distressed{
      opacity: 1;
    }

    .friend{
      opacity: 1;
    }

    .intestine-glow-in-mouth{
      opacity: 0;
    }
  }

  //dude leans forward, friend distressed 1
  &.cut-13{
    .character-distressed{
      opacity: 0;
    }

    .character-leans-forward{
      opacity: 1;
    }
    .scene-content{
      transform: translateY(35%);
      @media(max-width:600px){
        transform: unset;
      }
    }

    .friend{
      opacity: 0;
    }
    .friend-distressed{
      opacity: 1;
    }
  }

  //dude leans back, speech bubble home
  &.cut-14{

    .character-leans-forward{
      opacity: 0;
    }

    .character-distressed{
      opacity: 1;
    }

    .speech-bubble-home{
      opacity: 1;
    }
  }

  //dude stands up, friend distressed 2
  &.cut-15{
    .scene-content{
      transform-origin: 48% 20%;
    }
    .speech-bubble-home{
      opacity: 0;
    }
    .friend-distressed{
      opacity: 0;
    }
    
    .character-distressed{
      animation-name: standUp;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    .friend-distressed-2{
      opacity: 1;
    }
    .character-standing-distressed{

    }
  }

  //people disappear, transition to home
  &.cut-16{
    .scene-content{
      transform: scale(10);
    }

    .background-static{
      opacity: 0;
    }

    .background-static-light-on{
      opacity: 1;
    }

    .window-lit{
      //opacity: 1;
    }
  }


}

}