@font-face {
    font-family: 'Frutiger LT Pro 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Frutiger LT Pro 55 Roman'), url('https://fonts.cdnfonts.com/s/30929/Frutiger LT 55 Roman.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Frutiger LT Pro 65 Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Frutiger LT Pro 65 Bold'), url('https://fonts.cdnfonts.com/s/30929/Frutiger LT 65 Bold.woff') format('woff');
    }

@import 'scene-home.scss';
@import 'scenes.scss';
@import 'elements.scss';
@import 'scalecanvas.scss';
@import 'scene-restaurant.scss';
@import 'default-elements.scss';
@import 'sprites.scss';