@import "skstyle";

@font-face {
  font-family: Gotham Book;
  // src: url(https://mittonp.github.io/fonts/GothamBook.ttf);
  src: url(https://mittonp.github.io/fonts/GothamMedium.otf);
}

@font-face {
  font-family: Gotham Light;
  src: url(https://mittonp.github.io/fonts/Gotham-Light.otf);
}

@font-face {
  font-family: Gotham Bold;
  src: url(https://mittonp.github.io/fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: Gotham Medium;
  src: url(https://mittonp.github.io/fonts/GothamMedium.ttf);
}
.progress-indicator {
  //display: none;
  position: fixed;
  top: 40px;
  right: 40px;

  @media (min-width: 1024px) {
    display: block;
  }

  &__bullet {
    width: 15px;
    height: 15px;
    background: rgba($color: #e95a49, $alpha: 0.3);
    margin-bottom: 13px;
    border-radius: 100%;
    &--active {
      background: rgba($color: #e95a49, $alpha: 1);
    }
  }
}

body {
  font-family: Gotham Light, sans-serif;
}

.section-canvas {
  height: 100vh;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.bubbles {
  height: 100%;
  top: 0;
  left: 0;
  //width: 150vw;
  //position: absolute;
  //left: 50%;
  //transform: translateX(-50%);
}
#bubble-universe-canvas {
  background: linear-gradient(180deg, #050614 0%, #041d59 100%);
  position: fixed;
  height: 100%;
  width: 100%;

  .year-line {
    @media (max-width: 1024px) {
      border: unset;
    }
  }

  .tooltip {
    position: fixed;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 10px;
    color: white;
    pointer-events: none;
  }

  circle:hover {
    stroke: white;
  }

  circle {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  }

  text {
    text-anchor: middle;
    fill: #fff;
    margin: 0;
    font-family: "Gotham Medium";
    font-size: 15px;
    line-height: 16px;
    pointer-events: none;
  }
}

#force-directed-map-canvas {
  background: radial-gradient(circle, #ffffff 0%, #d3e1eb 100%);
}

#landing-canvas {
  background: linear-gradient(180deg, #050614 0%, #041d59 100%);
  height: 100%;
  color: white;
  width: 100%;

  .areagraph {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/vviz/areagraph.png");
    bottom: 0;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;

    transform-origin: bottom left;
  }
}

.year-lines {
  display: flex;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  @media (min-width: 1024px) {
  }
}

.year-line {
  border-left: 1px solid rgba(40, 177, 232, 0.4);
  color: #e95a49;
  font-family: Gotham Bold;
  font-size: 14px;
  width: 6.25%;
  padding-top: 15px;
}

.year-line-indicator-container {
  position: absolute;
  width: calc(100% - 20px);
  @media (min-width: 1440px) {
    width: calc(100% - 148px);
  }
}
.year-line-indicator {
  z-index: 100;
  pointer-events: none;
  position: absolute;
  width: 37px;
  height: 3px;
  background: #e95a49;
  top: 35px;
  left: 0;
}

.year-label {
  position: relative;
  z-index: 100;
  pointer-events: none;
  display: none;
  &--mobile {
    display: block;
  }
  @media (min-width: 1024px) {
    &--even {
      display: block;
    }
  }
}

.overlay-text {
  z-index: 100;
  pointer-events: none;
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    margin-left: 0;
    padding-right: 0;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    font-family: "Gotham Book";
    @media (min-width: 1024px) {
      font-size: 22px;
      line-height: 34px;
    }
  }

  h1 {
    font-family: Gotham Bold, sans-serif;
    font-size: 38px;
    margin: 0;
    max-width: 600px;

    @media (min-width: 1024px) {
      font-size: 70px;
      text-transform: uppercase;
    }
  }

  h2 {
    font-size: 22px;
    line-height: 26px;
    font-family: "Gotham Bold", sans-serif;
    margin: 0;
    text-shadow: 2px 2px 2px #000000;

    @media (min-width: 1024px) {
      font-size: 38px;
      line-height: 46px;
      width: 300px;
    }
  }

  &--alt {
    color: #002e5d;
    h2 {
      text-shadow: none;
    }
  }

  &__centered {
    @media (min-width: 1024px) {
      position: fixed;
      height: 100vh;
      display: flex;
      flex-direction: column;
      font-size: 22px;
      width: 788px;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      justify-content: center;
    }
  }
}

#chartdiv {
  width: 120vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section-canvas-container {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  @media (min-width: 1440px) {
    width: 1440px;
  }
}

.section-graph-stretch {
  position: absolute;
  height: 100%;
  width: 100%;
}

.instructions {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    right: 0;
    left: unset;
    top: 80px;
    width: auto;
    height: auto;
  }

  &__content {
    display: flex;
    width: 238px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 4px;
    justify-content: space-around;
  }
  &__text {
    color: black;
    width: 154px;
    font-size: 18px;
    font-family: "GothamBook", sans-serif;
  }
}

.legend {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  justify-content: center;
  margin: auto;
  @media (min-width: 1024px) {
    width: 100%;
    bottom: 30px;
  }
}

.legend-item {
  display: flex;
  margin-right: 14px;

  &__text {
    font-size: 14px;
    font-family: "GothamBook", sans-serif;
  }
  &__dot {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin-right: 5px;
    &--beards {
      background: #2b8bf8;
    }
    &--grooming {
      background: #d6006d;
    }
    &--hair-removal {
      background: #e58100;
    }
    &--shaving {
      background: #0542d8;
    }
  }
}

.as-updated {
  .legend {
    width: 240px;
    @media (min-width: 1024px) {
      top: 20px;
      position: relative;
    }
  }
}

#year {
  color: #e95a49;
}

.summary-top {
  height: 213px;
  background: linear-gradient(180deg, #050614 0%, #041d59 100%);
  left: 0;
  padding: 30px 20px;
  box-sizing: border-box;
  z-index: 10;
  width: 100%;
  position: fixed;
  @media (min-width: 1024px) {
    height: 253px;
    display: flex;
  }
  &__text {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
}

.summary-heading {
  color: white;
  font-size: 22px;
  line-height: 26px;
  font-family: "Gotham Bold", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  @media (min-width: 1024px) {
    font-size: 38px;
    line-height: 46px;
    width: 300px;
  }
}

.summary-text {
  color: white;
  font-family: "Gotham Book", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  height: 100px;
  overflow: scroll;
  margin-top: 8px;
  @media (min-width: 1024px) {
    width: 800px;
    font-size: 18px;
    line-height: 24px;
    height: auto;
    overflow: unset;
  }
}

.summary-nav {
  position: fixed;
  left: 6px;
  top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;
  &__item {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    // font-family: "Gotham Medium", sans-serif;
    font-size: 18px;

    &.active {
      width: 70px;
      height: 70px;
      background: rgba(255, 255, 255, 0.2);
      font-size: 36px;
      font-family: "Gotham Bold", sans-serif;
      @media (min-width: 1024px) {
        width: 130px;
        height: 130px;
      }
    }

    @media (min-width: 1024px) {
      width: 50px;
      height: 50px;
    }
  }
}

.section {
  &1 {
    background: linear-gradient(180deg, #12d0e1 0%, #2b8bf8 100%);
  }
  &2 {
    background: linear-gradient(180deg, #ffc718 0%, #e58100 100%);
  }
  &3 {
    background: linear-gradient(180deg, #ff59ae 0%, #d6006d 100%);
  }
  &4 {
    background: linear-gradient(180deg, #0542d8 0%, #3d06b4 100%);
  }
  &5 {
    background: linear-gradient(180deg, #12d0e1 0%, #2b8bf8 100%);
  }
  &6 {
    background: linear-gradient(180deg, #ffc718 0%, #e58100 100%);
  }
  &7 {
    background: linear-gradient(180deg, #ff59ae 0%, #d6006d 100%);
  }
  &8 {
    background: linear-gradient(180deg, #0542d8 0%, #3d06b4 100%);
  }
  &9 {
    background: linear-gradient(180deg, #12d0e1 0%, #2b8bf8 100%);
  }
  &10 {
    background: linear-gradient(180deg, #ffc718 0%, #e58100 100%);
  }
}

.summary-items {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 213px;
  color: white;
  text-align: center;
  img {
    max-width: 250px;
    max-height: 300px;
  }
}

#summary-canvas {
  overflow-y: scroll;
}

.search-term {
  font-family: "Gotham Bold", sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.search-volume {
  font-family: "Gotham Book", sans-serif;
  font-size: 22px;
  line-height: 34px;
  @media (min-width: 1024px) {
    font-size: 38px;
    line-height: 46px;
  }
}

.search-legend {
  font-family: "Gotham Medium", sans-serif;
  font-size: 15px;
  line-height: 16px;
}

.summary-item {
  height: calc(100vh - 213px);
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &__stats {
    @media (min-width: 1024px) {
      position: absolute;
      right: -230px;
      top: 0;
      text-align: left;
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    width: 250px;
    position: relative;
    @media (min-width: 1024px) {
      position: relative;
      right: unset;
    }
  }
  &__anchor {
    position: relative;
    top: -233px;
    @media (min-width: 1024px) {
      top: -273px;
    }
  }
}

.bubbles {
  width: 100%;
  position: absolute;
  svg {
    overflow: visible;
  }
}

.scroll-controls {
  position: fixed;
  left: 0;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.next-section {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: center;
  bottom: 100px;
  &__button {
    font-family: "Gotham Medium", sans-serif;
    font-size: 15px;
    padding: 15px 30px;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    color: black;
  }
}

.hide-mobile {
  display: none;
  @media (min-width: 1024px) {
    display: block;
  }
}

.hide-desktop {
  @media (min-width: 1024px) {
    display: none;
  }
}
