@font-face {
  font-family: Gotham Book;
  src: url(https://mittonp.github.io/fonts/GothamBook.ttf);
}

@font-face {
  font-family: Gotham Light;
  src: url(https://mittonp.github.io/fonts/Gotham-Light.otf);
}

@font-face {
  font-family: Gotham Bold;
  src: url(https://mittonp.github.io/fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: Gotham Medium;
  src: url(https://mittonp.github.io/fonts/GothamMedium.ttf);
}

.progress-indicator {
  position: fixed;
  top: 40px;
  right: 40px;
}

@media (min-width: 1024px) {
  .progress-indicator {
    display: block;
  }
}

.progress-indicator__bullet {
  width: 15px;
  height: 15px;
  background: rgba(233, 90, 73, 0.3);
  margin-bottom: 13px;
  border-radius: 100%;
}

.progress-indicator__bullet--active {
  background: #e95a49;
}

body {
  font-family: Gotham Light, sans-serif;
}

.section-canvas {
  height: 100vh;
  width: 100%;
}

#bubble-universe-canvas {
  background: -webkit-gradient(linear, left top, left bottom, from(#050614), to(#041d59));
  background: linear-gradient(180deg, #050614 0%, #041d59 100%);
  position: fixed;
  height: 100vh;
  width: 100%;
}

#bubble-universe-canvas .tooltip {
  position: fixed;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 10px;
  color: white;
}

#bubble-universe-canvas circle:hover {
  stroke: white;
}

#bubble-universe-canvas circle {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

#bubble-universe-canvas text {
  text-anchor: middle;
  fill: #fff;
  margin: 0;
  font-family: "Gotham Medium";
  font-size: 15px;
  line-height: 16px;
}

#force-directed-map-canvas {
  background: radial-gradient(circle, #ffffff 0%, #d3e1eb 100%);
}

#landing-canvas {
  background: -webkit-gradient(linear, left top, left bottom, from(#050614), to(#041d59));
  background: linear-gradient(180deg, #050614 0%, #041d59 100%);
  position: fixed;
  height: 100vh;
  color: white;
  width: 100%;
}

#landing-canvas .areagraph {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/vviz/areagraph.svg");
  top: 0;
  left: 0;
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
  opacity: 0.3;
}

.year-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.year-line {
  border-left: 2px solid rgba(40, 177, 232, 0.4);
  color: #e95a49;
  font-family: Gotham Bold;
  font-size: 14px;
  width: 6.25%;
  padding-top: 15px;
}

.year-line-indicator-container {
  position: absolute;
}

@media (min-width: 1440px) {
  .year-line-indicator-container {
    width: 1366px;
  }
}

.year-line-indicator {
  position: absolute;
  width: 37px;
  height: 3px;
  background: #e95a49;
  top: 35px;
  left: 0;
}

.year-label {
  display: none;
}

.year-label--mobile {
  display: block;
}

@media (min-width: 1024px) {
  .year-label--even {
    display: block;
  }
}

.overlay-text {
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  height: 100%;
}

.overlay-text--alt {
  color: #002e5d;
}

@media (min-width: 1024px) {
  .overlay-text {
    margin-top: 100px;
  }
}

.overlay-text p {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gotham Book";
}

@media (min-width: 1024px) {
  .overlay-text p {
    font-size: 22px;
    line-height: 34px;
  }
}

.overlay-text h1 {
  font-family: Gotham Bold, sans-serif;
  font-size: 38px;
  margin: 0;
}

@media (min-width: 1024px) {
  .overlay-text h1 {
    font-size: 70px;
    text-transform: uppercase;
  }
}

.overlay-text h2 {
  font-size: 38px;
  line-height: 46px;
  font-family: "Gotham Bold", sans-serif;
  margin: 0;
}

@media (min-width: 1024px) {
  .overlay-text h2 {
    font-size: 38px;
    line-height: 46px;
    width: 300px;
  }
}

.overlay-text__scroll-icon {
  text-align: center;
}

@media (min-width: 1024px) {
  .overlay-text__centered {
    margin-top: 200px;
    position: fixed;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 22px;
    width: 788px;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#chartdiv {
  width: 100vw;
  /* height:550px; */
  height: 100vh;
  position: fixed;
}

.section-canvas-container {
  width: 1440px;
  position: relative;
  margin: auto;
  height: 100%;
}

.section-graph-stretch {
  position: absolute;
  height: 100%;
}

.force-map-instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 238px;
  position: absolute;
  right: 0;
  top: 0;
}

.force-map-instructions__text {
  width: 154px;
  font-size: 18px;
  font-family: "GothamBook", sans-serif;
}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 130px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.legend-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 14px;
}

.legend-item__text {
  font-size: 14px;
  font-family: "GothamBook", sans-serif;
}

.legend-item__dot {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  margin-right: 5px;
}

.legend-item__dot--beards {
  background: #2b8bf8;
}

.legend-item__dot--grooming {
  background: #d6006d;
}

.legend-item__dot--hair-removal {
  background: #e58100;
}

.legend-item__dot--shaving {
  background: #0542d8;
}
/*# sourceMappingURL=index.css.map */