@font-face {
  font-family: Gotham Book;
  src: url(https://mittonp.github.io/fonts/GothamBook.ttf);
}

@font-face {
  font-family: Gotham Light;
  src: url(https://mittonp.github.io/fonts/Gotham-Light.otf);
}

@font-face {
  font-family: Gotham Bold;
  src: url(https://mittonp.github.io/fonts/Gotham-Bold.otf);
}

body {
  background: radial-gradient(circle, #ffffff 0%, #d3e1eb 100%);
  background-attachment: fixed;
  color: white;
  font-family: Gotham Book, sans-serif;
}

.canvas {
  position: relative;
}

.areagraph {
  position: fixed;
  left: 0;
  bottom: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

.overlay h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: Gotham Bold, sans-serif;
  margin-left: 135px;
}

.overlay h2 {
  font-family: Gotham Bold, sans-serif;
  font-size: 22px;
  margin-left: 20px;
  @media (min-width: 1024px) {
    font-size: 38px;
    margin-left: 135px;
  }
}

.what-also-search {
  color: #002e5d;
}

.overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  width: 585px;
  text-align: center;
  font-weight: 200;
  font-family: Gotham Light;
}

.year-lines {
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 140px;
}

.year-line {
  margin-right: 20px;
  border-left: 2px solid rgba(40, 177, 232, 0.4);
  color: #e95a49;
  font-family: Gotham Bold;
}

#chartdiv {
  width: 100vw;
  /* height:550px; */
  height: 100vh;
  position: fixed;
}
